In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
df_1 = pd.read_csv("world-data-2023_part1_pair.csv", index_col=0)
df_1.head()

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,lat,long
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,0.70,"19,101,353,833",104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",33.93911,67.709953
1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.4,ALL,1.62,28.1,1.36,"15,278,077,447",107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.0,DZD,3.02,0.8,0.28,"169,988,236,398",109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.0,1.51,"3,154,057,987",106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.1,AOA,5.52,46.3,0.97,"94,635,415,870",113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025",-11.202692,17.873887

Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

In [3]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 195 entries, 0 to 194
Data columns (total 35 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   country                            195 non-null    object
 1   density                            195 non-null    object
 2   abbreviation                       188 non-null    object
 3   agriculturalland                   188 non-null    float64
 4   landarea                           194 non-null    object
 5   armedforcessize                    171 non-null    object
 6   birthrate                          189 non-null    float64
 7   callingcode                        194 non-null    float64
 8   capital/majorcity                  192 non-null    object
 9   co2-emissions                      188 non-null    object
 10  cpi                                178 non-null    object
 11  cpichange                          179 non-null    float64
 12  currency-code                      180 non-null    object
 13  fertilityrate                      188 non-null    float64
 14  forestedarea                       188 non-null    float64
 15  gasolineprice                      175 non-null    float64
 16  gdp                                193 non-null    object
 17  grossprimaryeducationenrollment    188 non-null    float64
 18  grosstertiaryeducationenrollment   183 non-null    float64
 19  infantmortality                    189 non-null    float64
 20  largestcity                        189 non-null    object
 21  lifeexpectancy                     187 non-null    float64
 22  maternalmortalityratio             181 non-null    float64
 23  minimumwage                        150 non-null    float64
 24  officiallanguage                   190 non-null    object
 25  outofpockethealthexpenditure       188 non-null    float64
 26  physiciansperthousand              188 non-null    float64
 27  population                         194 non-null    object
 28  populationlaborforceparticipation  176 non-null    float64
 29  taxrevenue                         169 non-null    float64
 30  totaltaxrate                       183 non-null    float64
 31  unemploymentrate                   176 non-null    float64
 32  urban_population                   190 non-null    object
 33  lat                                195 non-null    object
 34  long                               195 non-null    object
dtypes: float64(19), object(16)
memory usage: 54.8+ KB

In [13]:
def cambiar_comas(cadena):
     cadena2= cadena.replace(",", ".",1)
     
     try:
          return float(cadena2)
    
     except:
          return np.nan

In [14]:
df_1["landarea"]=df_1["landarea"].apply(cambiar_comas)
df_1.head(3)

AttributeError: 'float' object has no attribute 'replace'

In [6]:
lista_columnas = ["landarea", "armedforcessize", "co2-emissions", "gdp", "population", "urban_population", "lat", "long", "density", "cpi"]

In [7]:
for col in lista_columnas:
    df_1[col] = df_1[col].apply(cambiar_comas)

In [16]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 195 entries, 0 to 194
Data columns (total 35 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   country                            195 non-null    object
 1   density                            195 non-null    float64
 2   abbreviation                       188 non-null    object
 3   agriculturalland                   188 non-null    float64
 4   landarea                           0 non-null      float64
 5   armedforcessize                    0 non-null      float64
 6   birthrate                          189 non-null    float64
 7   callingcode                        194 non-null    float64
 8   capital/majorcity                  192 non-null    object
 9   co2-emissions                      0 non-null      float64
 10  cpi                                175 non-null    float64
 11  cpichange                          179 non-null    float64
 12  currency-code                      180 non-null    object
 13  fertilityrate                      188 non-null    float64
 14  forestedarea                       188 non-null    float64
 15  gasolineprice                      175 non-null    float64
 16  gdp                                0 non-null      float64
 17  grossprimaryeducationenrollment    188 non-null    float64
 18  grosstertiaryeducationenrollment   183 non-null    float64
 19  infantmortality                    189 non-null    float64
 20  largestcity                        189 non-null    object
 21  lifeexpectancy                     187 non-null    float64
 22  maternalmortalityratio             181 non-null    float64
 23  minimumwage                        150 non-null    float64
 24  officiallanguage                   190 non-null    object
 25  outofpockethealthexpenditure       188 non-null    float64
 26  physiciansperthousand              188 non-null    float64
 27  population                         0 non-null      float64
 28  populationlaborforceparticipation  176 non-null    float64
 29  taxrevenue                         169 non-null    float64
 30  totaltaxrate                       183 non-null    float64
 31  unemploymentrate                   176 non-null    float64
 32  urban_population                   0 non-null      float64
 33  lat                                194 non-null    float64
 34  long                               194 non-null    float64
dtypes: float64(29), object(6)
memory usage: 54.8+ KB