In [30]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

1. Explora y carga ambos conjuntos de datos en pandas DataFrames.
2. Identifica las columnas comunes entre los dos conjuntos de datos.
3. Utiliza el método de unión de Pandas que consideres más adecuado para combinar los datos de ambos años en un solo DataFrame.
4. Explica por qué elegiste ese método de unión y cómo se llevaron a cabo los pasos anteriores.

Elegi merge inner porque hay una columna que coincide, que es "Country", y queremos todos los datos de las dos tablas.

In [31]:
df_1 = pd.read_csv("world-data-2023_part1.csv", index_col=0)
df_1.head()

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97

In [32]:
df_2 = pd.read_csv("world-data-2023_part2.csv", index_col=0)
df_2.head()

,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"

In [33]:
df_1.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price'],
      dtype='object')

In [34]:
df_2.columns

Index(['GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population', 'country',
       'coordinates'],
      dtype='object')

In [35]:
merge_inner = df_1.merge(df_2, left_on='Country', right_on = "country")
merge_inner.head()

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"

1. Después de la unión de datos, tenemos dos columnas de "country". Elimina una de ellas.

In [36]:
merge_inner.drop("country", axis = 1, inplace = True)
merge_inner.head(2)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"

2. Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que:
- No tengan espacios.
- Estén en minúscula.
- No tengan paréntesis, es decir, quitar "(%)", "(Km2)".
- Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.
- Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.

In [37]:
df_final = merge_inner.copy()
df_final.head()

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')"

In [38]:
nuevas_columnas = {columna : columna.lower().replace(" ", "").replace(':', '').split("(")[0].strip() for columna in df_final.columns}
nuevas_columnas

{'Country': 'country',
 'Density\n(P/Km2)': 'density',
 'Abbreviation': 'abbreviation',
 'Agricultural Land( %)': 'agriculturalland',
 'Land Area(Km2)': 'landarea',
 'Armed Forces size': 'armedforcessize',
 'Birth Rate': 'birthrate',
 'Calling Code': 'callingcode',
 'Capital/Major City': 'capital/majorcity',
 'Co2-Emissions': 'co2-emissions',
 'CPI': 'cpi',
 'CPI Change (%)': 'cpichange',
 'Currency-Code': 'currency-code',
 'Fertility Rate': 'fertilityrate',
 'Forested Area (%)': 'forestedarea',
 'Gasoline Price': 'gasolineprice',
 'GDP': 'gdp',
 'Gross primary education enrollment (%)': 'grossprimaryeducationenrollment',
 'Gross tertiary education enrollment (%)': 'grosstertiaryeducationenrollment',
 'Infant mortality': 'infantmortality',
 'Largest city': 'largestcity',
 'Life expectancy': 'lifeexpectancy',
 'Maternal mortality ratio': 'maternalmortalityratio',
 'Minimum wage': 'minimumwage',
 'Official language': 'officiallanguage',
 'Out of pocket health expenditure': 'outofpockethealthexpenditure',
 'Physicians per thousand': 'physiciansperthousand',
 'Population': 'population',
 'Population: Labor force participation (%)': 'populationlaborforceparticipation',
 'Tax revenue (%)': 'taxrevenue',
 'Total tax rate': 'totaltaxrate',
 'Unemployment rate': 'unemploymentrate',
 'Urban_population': 'urban_population',
 'coordinates': 'coordinates'}

In [39]:
df_final.rename(columns = nuevas_columnas, inplace = True)

# comprobamos que se han cambiado los nombres de las columnas
df_final.head()

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')"

3. La columnas coordinates tiene la latitud y la longitud en una sola columna. Crea dos columnas nuevas, una con la longitud y otra con la latitud. Una vez hecho, elimina la columna de coordinates.

In [40]:
df_final[["lat","long"]] = df_final["coordinates"].str.split(",", expand = True)
df_final.drop("coordinates", axis = 1, inplace = True)
df_final.head(2)

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,lat,long
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",('33.93911 ','67.709953')
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",('41.153332 ','20.168331')

In [46]:
df_final['long'] = df_final['long'].str.replace(r"[()'']", "", regex=True)
df_final['lat'] = df_final['lat'].str.replace(r"[()'']", "", regex=True)
df_final.head(5)

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,lat,long
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,0.70,"19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,0.43,Pashto,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",33.93911,67.709953
1,Albania,105,AL,43.10,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40,ALL,1.62,28.10,1.36,"15,278,077,447",107.00,55.00,7.8,Tirana,78.5,15.0,1.12,Albanian,56.90,1.20,"2,854,191",55.70,18.60,36.60,12.33,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00,DZD,3.02,0.80,0.28,"169,988,236,398",109.90,51.40,20.1,Algiers,76.7,112.0,0.95,Arabic,28.10,1.72,"43,053,054",41.20,37.20,66.10,11.70,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00,1.51,"3,154,057,987",106.40,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.40,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10,AOA,5.52,46.30,0.97,"94,635,415,870",113.50,9.30,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.40,0.21,"31,825,295",77.50,9.20,49.10,6.89,"21,061,025",-11.202692,17.873887

4. Las columnas unemployment_rate, total_tax_rate, tax_revenue, population_labor_force_participation, out_of_pocket_health_expenditure, gross_tertiary_education_enrollment, gross_primary_education_enrollment, forested_area, cpi_change, agricultural_land tienen "%". Elimina los "%" de los valores de las columnas.

In [41]:
columnas = [
    "unemploymentrate", 
    "totaltaxrate", 
    "taxrevenue", 
    "populationlaborforceparticipation", 
    "outofpockethealthexpenditure", 
    "grosstertiaryeducationenrollment", 
    "grossprimaryeducationenrollment", 
    "forestedarea", 
    "cpichange", 
    "agriculturalland"
]

for column in columnas:
    df_final[column] = df_final[column].str.rstrip('%')

df_final.head(5)

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,lat,long
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,$0.70,"$19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",('33.93911 ','67.709953')
1,Albania,105,AL,43.10,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40,ALL,1.62,28.10,$1.36,"$15,278,077,447",107.00,55.00,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90,1.20,"2,854,191",55.70,18.60,36.60,12.33,"1,747,593",('41.153332 ','20.168331')
2,Algeria,18,DZ,17.40,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00,DZD,3.02,0.80,$0.28,"$169,988,236,398",109.90,51.40,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10,1.72,"43,053,054",41.20,37.20,66.10,11.70,"31,510,100",('28.033886 ','1.659626')
3,Andorra,164,AD,40.00,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00,$1.51,"$3,154,057,987",106.40,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",('42.506285 ','1.521801')
4,Angola,26,AO,47.50,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10,AOA,5.52,46.30,$0.97,"$94,635,415,870",113.50,9.30,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40,0.21,"31,825,295",77.50,9.20,49.10,6.89,"21,061,025",('-11.202692 ','17.873887')

5. Haz lo mismo para las columnas de gasoline_price, gdp, minimum_wage, pero eliminando "$".

In [42]:
columnas_1 = [
    "gasolineprice", 
    "gdp", 
    "minimumwage", 
   
]

for column in columnas_1:
    df_final[column] = df_final[column].str.lstrip('$')

df_final.head(5)

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,lat,long
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,0.70,"19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,0.43,Pashto,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",('33.93911 ','67.709953')
1,Albania,105,AL,43.10,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40,ALL,1.62,28.10,1.36,"15,278,077,447",107.00,55.00,7.8,Tirana,78.5,15.0,1.12,Albanian,56.90,1.20,"2,854,191",55.70,18.60,36.60,12.33,"1,747,593",('41.153332 ','20.168331')
2,Algeria,18,DZ,17.40,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00,DZD,3.02,0.80,0.28,"169,988,236,398",109.90,51.40,20.1,Algiers,76.7,112.0,0.95,Arabic,28.10,1.72,"43,053,054",41.20,37.20,66.10,11.70,"31,510,100",('28.033886 ','1.659626')
3,Andorra,164,AD,40.00,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00,1.51,"3,154,057,987",106.40,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.40,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",('42.506285 ','1.521801')
4,Angola,26,AO,47.50,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10,AOA,5.52,46.30,0.97,"94,635,415,870",113.50,9.30,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.40,0.21,"31,825,295",77.50,9.20,49.10,6.89,"21,061,025",('-11.202692 ','17.873887')

6. Guarda el DataFrame para usarlo en el pairprogramming de mañana.

In [47]:
df_final.to_csv("world-data-2023_part1_pair.csv")

1. Encuentra todos los países cuya mortalidad infantil esté entre 40 y 50 personas por kilómetro cuadrado

In [44]:

mort_infantil = df_final[(df_final['infantmortality'] >= 40) & (df_final['infantmortality'] <= 50)]

# Mostrar los países que cumplen con el criterio
mort_infantil[['country', 'infantmortality']]

          country  infantmortality
0     Afghanistan             47.9
26   Burkina Faso             49.0
27        Burundi             41.0
47       Djibouti             49.8
72          Haiti             49.5
89       Kiribati             41.2
125         Niger             48.0
166         Sudan             42.1
175          Togo             47.4
192         Yemen             42.9
193        Zambia             40.4